<div class="container-fluid queryCard">
  <form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Vehicle No</label>
      <div class="col-sm-10">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">From:</label>
      <div class="col-sm-10">
        <mat-form-field>
          <input matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">To:</label>
      <div class="col-sm-10">
        <mat-form-field>
          <input matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>


<nav class="nav nav-pills nav-justified">
  <a routerLink="/vehiclecandata" routerLinkActive="active" class="nav-item nav-link custom-btn">Vehicle CAN Data</a>
  <a routerLink="/telemetrydata" routerLinkActive="active" class="nav-item nav-link custom-btn">Telemetry Data</a>
  <a routerLink="/eventdata" routerLinkActive="active" class="nav-item nav-link custom-btn">Events Data</a>
</nav>

<router-outlet></router-outlet>
