/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';

.queryCard {
    margin: 20px 10px;
    
}

.custom-btn{
    border: 1px solid #ccc;
    background-color: azure;
    margin: 5px;
}

nav a.active {
    color: #039be5;
}
